.thebig
{
  display: flex;
    flex-direction:row;
    margin: 0 auto;
}


.instructions
{
  width:50%;
  float:left;
  margin: 0 auto;
}



.video_player
{
  margin: 0 auto;
  width:50%;
  float:left;
}


/* change player background color */
#myVideo {
  background-color: grey;
  margin: auto;
}

#ins{
  margin: 0 auto;
  width:70%;
}


#bt{
  margin: auto;

}

#link {
  color: blue;
  font-style: unset;
  font-size: 20px;
}